<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="com.zerui.Dev" autowire="byName">
        <property name="com" ref="lap1" />
    </bean>
    <bean id="lap1" class="com.zerui.Laptop">
    </bean>

    <bean id="desk1" class="com.zerui.Desktop">
    </bean>
</beans>